d
.themeLight-ljSI-8{
	background-image: url(/assets/da840b1a6c5d073ca1c6710f8967502a.svg)
	background-position: 50% 0
	color: #4f545c
}
.themeLight-ljSI-8 .image-2GuWXL{
	background-image: url(/assets/9c3d15a94528df326eb741af39b9f0a9.svg)
}
.themeLight-ljSI-8 .note-3vX6oT{
	color: #72767d
}
.themeDark-20sYEW{
	background-color: #2f3136
	background-image: url(/assets/da840b1a6c5d073ca1c6710f8967502a.svg)
	color: #f6f6f7
}
.themeDark-20sYEW .image-2GuWXL{
	background-image: url(/assets/e9baf4b505eb54129f832556ea16538e.svg)
}
.themeDark-20sYEW .note-3vX6oT{
	color: #b9bbbe
}
.stopAnimation-39pPJB .chasingDots-2qWgu6,.stopAnimation-39pPJB .chasingDotsItem-1fMB4T,.stopAnimation-39pPJB .circular-2U7_1N,.stopAnimation-39pPJB .path-2DIvxA,.stopAnimation-39pPJB .pulsingEllipsisItem-1oPdBE,.stopAnimation-39pPJB .wanderingCubesItem-35kyMu,.stop-animation .pulsingEllipsisItem-1oPdBE{
	-webkit-animation: none
	animation: none
}
.errorMessage-lxyttF{
	font-style: italic
}
.errorSeparator-309jWC{
	padding-left: 4px
	padding-right: 4px
}
.mobile-2zVrIR{
	width: 100%
}
.botTag-1OwMgs{
	display: inline-block
	line-height: 13px
	vertical-align: top
}
.ownerIcon-5eYPyB{
	-ms-flex-negative: 0
	flex-shrink: 0
}
.small-TEeAkX .statusTyping-lRly31{
	border-radius: 999px
	display: -webkit-box
	display: -ms-flexbox
	display: flex
	overflow: hidden
	right: -11px
	width: 26px
}
.small-TEeAkX .statusTypingSpinnerItem-3QkulT{
	background-color: #fff
	height: 4px
	width: 4px
}
.statusStreaming-1bZ3Hq{
	background-color: #593695
}
.headerBotTag-1SM7sD{
	position: relative
	top: 1px
}
.footerDefault-1t_gFA{
	padding: 10px
}
.footerCTA-31qrvB{
	position: relative
}
.footerCTA-31qrvB:hover .wumpus-2bOVVv{
	-webkit-transform: translate3d(0,4px,0)
	transform: translate3d(0,4px,0)
}
.footerCTA-31qrvB:hover .wumpusTooltip-ay1p-U{
	opacity: 1
}
.wumpusWrapper-2d_b-0{
	margin-top: 20px
	pointer-events: none
}
.wumpus-2bOVVv{
	-webkit-transform: translate3d(0,15px,0)
	-webkit-transition: -webkit-transform .15s cubic-bezier(0,0,.5,1.8)
	left: 12px
	position: absolute
	top: 0
	transform: translate3d(0,15px,0)
	transition: -webkit-transform .15s cubic-bezier(0,0,.5,1.8)
	transition: transform .15s cubic-bezier(0,0,.5,1.8)
}
.wumpusShown-2_pnY-{
	-webkit-transform: translate3d(0,4px,0)
	-webkit-transition: -webkit-transform .15s cubic-bezier(0,0,.5,2.2) .15s
	transform: translate3d(0,4px,0)
	transition: -webkit-transform .15s cubic-bezier(0,0,.5,2.2) .15s
	transition: transform .15s cubic-bezier(0,0,.5,2.2) .15s
}
.wumpusShown-2_pnY- .wumpusTooltip-ay1p-U{
	-webkit-transition: opacity .11s linear .17s
	opacity: 1
	transition: opacity .11s linear .17s
}
.wumpusTooltip-ay1p-U{
	-webkit-transition: opacity .11s linear 20ms
	border-radius: 3px
	bottom: 15px
	font-size: 12px
	font-weight: 500
	left: 2px
	opacity: 0
	padding: 1px 6px
	position: relative
	transition: opacity .11s linear 20ms
}
.wumpusTooltip-ay1p-U:after{
	border-color: transparent
	border-right: 3px transparent
	border-style: solid
	content: ""
	height: 0
	left: -6px
	margin-top: -3px
	position: absolute
	top: 50%
	width: 0
}
.quickMessage-OCo-Q0{
	position: relative
}
.theme-dark .quickMessage-OCo-Q0{
	background-color: #36393f
}
.theme-dark .wumpusTooltip-ay1p-U{
	background: #fff
	color: #4f545c
}
.theme-dark .wumpusTooltip-ay1p-U:after{
	border-right-color: #fff
}
.theme-light .wumpusTooltip-ay1p-U{
	background: hsla(210,3%,87%,.6)
	color: #4f545c
}
.theme-light .wumpusTooltip-ay1p-U:after{
	border-right-color: hsla(210,3%,87%,.6)
}
.notice-3I4-y_ strong{
	font-weight: 600
}
.iconActiveXLarge-1G3uZB{
	border-radius: 30px
}
.iconSizeXLarge-3a2KLk{
	height: 100px
	width: 100px
}
.noIcon-1WB-Um.iconSizeXLarge-3a2KLk{
	line-height: 100px
}
.userSettingsVoice-TvPQ80 .pttToolsMessage-OyR4r3.pttToolsWarning-2mPxgk{
	color: #f04747
}
.userSettingsVoice-TvPQ80 .pttToolsMessage-OyR4r3.pttToolsWarning-2mPxgk a{
	color: #f04747
	font-weight: 700
}
.userSettingsVoice-TvPQ80 .inputDisabledWarning-1TVp_p{
	color: #f04747
}
.deviceOption-1pMZhu{
	-ms-flex-align: center
	-ms-flex-direction: row
	-webkit-box-align: center
	-webkit-box-direction: normal
	-webkit-box-orient: horizontal
	align-items: center
	display: -webkit-box
	display: -ms-flexbox
	display: flex
	flex-direction: row
}
.deviceOptionCertified-2Oqh2t{
	background-color: #7289da
	border-radius: 5px
	color: #fff
	font-size: 12px
	font-weight: 700
	letter-spacing: normal
	line-height: 12px
	margin-right: 8px
	padding: 4px 10px
	text-transform: uppercase
}
.member-2FrNV0{
	-ms-flex-align: center
	-webkit-box-align: center
	-webkit-box-sizing: border-box
	align-items: center
	box-sizing: border-box
	cursor: pointer
	display: -webkit-box
	display: -ms-flexbox
	display: flex
	height: 40px
	overflow: hidden
}
.member-2FrNV0.popout-open .avatarOffline-YdYOwX,.member-2FrNV0.popout-open .darken-2nDXaM,.member-2FrNV0:hover .avatarOffline-YdYOwX,.member-2FrNV0:hover .darken-2nDXaM{
	-webkit-filter: none
	filter: none
}
.darken-2nDXaM{
	-webkit-filter: grayscale(50%)
	filter: grayscale(50%)
}
.content-3JzEqq{
	-ms-flex-align: center
	-ms-flex-positive: 1
	-webkit-box-align: center
	-webkit-box-flex: 1
	align-items: center
	border-radius: 3px
	display: -webkit-box
	display: -ms-flexbox
	display: flex
	flex-grow: 1
	line-height: 30px
	margin: 1px 0 1px 8px
	padding: 4px 8px 4px 22px
}
.memberInner-3XUq9K{
	width: 140px
}
.nameTag-3F0z_i{
	line-height: 17px
}
.username-MwOsla{
	font-size: 16px
}
.usernameOnline-jN8ojx{
	font-weight: 500
}
.usernameOffline-3MJ-JP{
	font-weight: 300
}
.ownerIcon-2RBgEv{
	height: 14px
	margin-left: 4px
	position: relative
	top: 1px
	width: 14px
}
.activity-1PAe08{
	font-size: 11px
	font-weight: 400
	line-height: 13px
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap
}
.activity-1PAe08 strong{
	font-weight: 700
}
.activityText-258pdj{
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap
}
.activityIcon-3-h2jl{
	margin-left: 2px
	min-height: 16px
	min-width: 16px
}
.avatarOffline-YdYOwX{
	-webkit-filter: grayscale(100%)
	filter: grayscale(100%)
}
.avatarWrapper-3E-a5I{
	margin-right: 10px
}
@-webkit-keyframes placeholderPulse-3739AE
{
	0%{
		opacity: .2
	}
	50%{
		opacity: .5
	}
	to{
		opacity: .2
	}
}
@keyframes placeholderPulse-3739AE
{
	0%{
		opacity: .2
	}
	50%{
		opacity: .5
	}
	to{
		opacity: .2
	}
}
.placeholder-1r59uP{
	-webkit-animation: placeholderPulse-3739AE 3s ease-in-out infinite
	animation: placeholderPulse-3739AE 3s ease-in-out infinite
	overflow: hidden
	padding-left: 30px
	position: relative
}
.placeholderUsername-5-KmQU{
	background: #72767d
	border-radius: 8px
	height: 35%
}
.placeholderAvatar-2trNnW{
	background: #72767d
	border-radius: 50%
	height: 30px
	width: 30px
}
.status-2Devx1{
	background-clip: padding-box
	border: 2px solid #f6f6f7
	border-radius: 999px
	bottom: -4px
	height: 10px
	right: -2px
	width: 10px
}
.statusAnimated-Qs3GUf{
	-webkit-transition: width .2s ease,right .2s ease,background-color .2s ease
	transition: width .2s ease,right .2s ease,background-color .2s ease
}
.statusStatic-16PbuC{
	-webkit-transition: none
	transition: none
}
.theme-light .activity-1PAe08{
	color: hsla(218,5%,47%,.9)
}
.theme-light .activityIconForeground-1o4t0w{
	fill: hsla(218,5%,47%,.9)
}
.theme-light .memberOnline-1xn3V8{
	color: #72767d
}
.theme-light .memberOffline-lvMbAs{
	color: hsla(218,5%,47%,.9)
}
.theme-light .member-2FrNV0.popout-open .content-3JzEqq,.theme-light .member-2FrNV0.popout-open:hover .content-3JzEqq{
	background-color: hsla(210,3%,87%,.6)
	color: #000
}
.theme-light .member-2FrNV0.popout-open .content-3JzEqq .status-2Devx1,.theme-light .member-2FrNV0.popout-open:hover .content-3JzEqq .status-2Devx1{
	border-color: #e6e7e8
}
.theme-light .member-2FrNV0:hover .content-3JzEqq{
	background-color: hsla(210,3%,87%,.3)
	color: #000
}
.theme-light .member-2FrNV0:hover .content-3JzEqq .status-2Devx1{
	border-color: #eeefef
}
.theme-dark .activity-1PAe08{
	color: hsla(216,4%,74%,.6)
}
.theme-dark .activityIconForeground-1o4t0w{
	fill: hsla(216,4%,74%,.6)
}
.theme-dark .memberOnline-1xn3V8{
	color: #b9bbbe
}
.theme-dark .memberOffline-lvMbAs{
	color: hsla(216,4%,74%,.9)
}
.theme-dark .member-2FrNV0.popout-open .content-3JzEqq,.theme-dark .member-2FrNV0.popout-open:hover .content-3JzEqq{
	background-color: var(--text-color)
	color: #fff
}
.theme-dark .member-2FrNV0.popout-open .content-3JzEqq .status-2Devx1,.theme-dark .member-2FrNV0.popout-open:hover .content-3JzEqq .status-2Devx1{
	border-color: #42464d
}
.theme-dark .member-2FrNV0:hover .content-3JzEqq{
	background-color: #36393f
	color: #fff
}
.theme-dark .member-2FrNV0:hover .content-3JzEqq .status-2Devx1{
	border-color: #36393f
}
.theme-dark .status-2Devx1{
	border-color: #2f3136
}
.channel-members{
	background-color: #f6f6f7
}
.message-group .message-text.april-fools{
	background: -webkit-gradient(linear,right top,left top,from(rgba(255,0,0,.2)),color-stop(rgba(255,255,0,.2)),color-stop(rgba(0,255,0,.2)),to(rgba(0,0,255,.2)))
	background: linear-gradient(270deg,rgba(255,0,0,.2),rgba(255,255,0,.2),rgba(0,255,0,.2),rgba(0,0,255,.2))
	border-radius: 4px
}
.headerText-34U9bm{
	overflow: hidden
}
.headerSubtitle-1Wy5FL{
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap
}
.image-2Uz24z{
	background-size: 80%
}
.verificationBlock-3CCVQ8 .image-2Uz24z{
	background-size: 80%
}
.theme-light .verification-3gqNNa .image-2Uz24z{
	background-image: url(/assets/a10842455004efe987e0a27f5209cb4b.svg)
}
.theme-light .verificationBlock-3CCVQ8 .image-2Uz24z.email-1QG8Oi{
	background-image: url(/assets/890ba09792d4b17f9cffacdd81df6b71.svg)
}
.theme-light .verificationBlock-3CCVQ8 .image-2Uz24z.phone-2R5H_h{
	background-image: url(/assets/5f8406a9cccbd48676551b6250e295e4.svg)
}
.theme-dark .verification-3gqNNa .image-2Uz24z{
	background-image: url(/assets/c290235278e128e94ae5ac37e58c5cbb.svg)
}
.theme-dark .verificationBlock-3CCVQ8 .image-2Uz24z.email-1QG8Oi{
	background-image: url(/assets/cefc9c14adce616059f519c581331b32.svg)
}
.theme-dark .verificationBlock-3CCVQ8 .image-2Uz24z.phone-2R5H_h{
	background-image: url(/assets/ca452f5271ebcc7132db59f60a2a9cfe.svg)
}
.headerBotTag-nrre2Z{
	position: relative
	top: 2px
}
.profileBadgeBugHunter-2GYW5s{
	background-image: url(/assets/df26f079738a4dcd07cbce6eb3c957f1.svg)
	width: 17px
}
.topSectionNormal-2LlRG1 .profileBadgeBugHunter-2GYW5s{
	background-image: url(/assets/f61b8981e92feead854f52e5a1ba14f0.svg)
}
.theme-dark .topSectionNormal-2LlRG1{
	background-color: #202225
}
.wrapper-2JxDGs{
	overflow: hidden
	position: relative
}
.image-3J0bXs{
	left: 0
	opacity: 0
	position: absolute
	top: 0
}
.image-3J0bXs.preview-1qbq06{
	-webkit-filter: blur(20px)
	-webkit-transition: -webkit-filter .2s linear .2s
	filter: blur(20px)
	opacity: 1
	transition: -webkit-filter .2s linear .2s
	transition: filter .2s linear .2s
	transition: filter .2s linear .2s,-webkit-filter .2s linear .2s
}
.image-3J0bXs.loaded-1IUkda{
	-webkit-filter: blur(0)
	filter: blur(0)
	opacity: 1
}
.wrapper-1FMWUO{
	background-color: linear-gradient(to left bottom,#3d4046,#1e1e23)
}
.rightSplit-2aXQ8E{
	opacity: 0
	width: 0
}
@media (min-width: 678px)
{
	.wrapper-1FMWUO{
		background-color:#2f3136
		height: 100vh
		overflow-x: hidden
		overflow-y: auto
		position: relative
		width: 100vw
		z-index: 1
	}
	.leftSplit-3cWgC_{
		background-image: url(/assets/c5c565a8b7cb84db7409e4052ead36fe.png)
		background-position: 100% 100%
		background-repeat: no-repeat
		height: 80%
		left: 0
		max-height: 1000px
		max-width: 994px
		min-height: 650px
		min-width: 790px
		position: absolute
		top: 0
		width: 80%
	}
	.rightSplit-2aXQ8E{
		-webkit-transition: opacity .5s ease
		opacity: 1
		position: fixed
		right: 0
		top: 50%
		transition: opacity .5s ease
		width: auto
	}
}
@media (min-width: 1200px)
{
	.leftSplit-3cWgC_{
		-ms-flex-align:center
		-ms-flex-pack: center
		-webkit-box-align: center
		-webkit-box-pack: center
		align-items: center
		display: -webkit-box
		display: -ms-flexbox
		display: flex
		justify-content: center
	}
}
.wrapper-AQemwR{
	height: 100%
	margin-bototm: 20px
	overflow-y: auto
	position: absolute
	top: 0
	width: 100%
}
.wrapper-AQemwR a{
	color: #7289da
}
.wrapper-AQemwR a:hover{
	text-decoration: underline
}
@media (min-width: 678px)
{
	.logo-2gKetW{
		background:url(/assets/4f004ac9be168ac6ee18fc442a52ab53.svg) no-repeat
		height: 36px
		left: 60px
		position: absolute
		top: 60px
		width: 130px
	}
	.wrapper-AQemwR{
		-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.2)
		border-radius: 5px
		box-shadow: 0 2px 10px 0 rgba(0,0,0,.2)
		height: auto
		right: 250px
		top: 140px
		width: 480px
	}
	.platform-osx .splashBackground-2Gfn3_:before{
		-webkit-app-region: drag
		content: ""
		height: 32px
		left: 0
		position: absolute
		right: 0
		top: 0
		z-index: 1
	}
	.platform-win .splashBackground-2Gfn3_{
		top: 20px
	}
	.platform-win .splashBackground-2Gfn3_:after{
		-webkit-app-region: drag
		background: #202225
		content: ""
		height: 24px
		left: 0
		position: fixed
		right: 0
		top: 0
		z-index: 1
	}
}
@media (min-width: 1200px)
{
	.wrapper-AQemwR{
		position:relative
		right: auto
		top: auto
	}
}
.authBox-2QvEa2{
	-ms-flex-align: center
	-ms-flex-direction: column
	-webkit-box-align: center
	-webkit-box-direction: normal
	-webkit-box-orient: vertical
	-webkit-transition: opacity .2s cubic-bezier(.25,.25,.315,.86)
	align-items: center
	background: #36393f
	border-radius: 5px
	color: #72767d
	display: -webkit-box
	display: -ms-flexbox
	display: flex
	flex-direction: column
	font-size: 18px
	opacity: 0
	overflow-y: hidden
	padding: 40px
	text-align: center
	transition: opacity .2s cubic-bezier(.25,.25,.315,.86)
}
.authBox-2QvEa2.visible-2BIPpX{
	opacity: 1
}
.centeringWrapper-1eDp06{
	width: 100%
}
@media (max-width: 678px)
{
	.authBox-2QvEa2{
		-ms-flex-align:center
		-ms-flex-pack: center
		-webkit-box-align: center
		-webkit-box-pack: center
		-webkit-box-sizing: border-box
		align-items: center
		background: -webkit-gradient(linear,right top,left bottom,from(#3d4046),to(#1e1e23))
		background: linear-gradient(to left bottom,#3d4046,#1e1e23)
		border-radius: 0
		bottom: 0
		box-sizing: border-box
		height: 100%
		justify-content: center
		left: 0
		min-height: 500px
		padding: 70px 20px 20px
		position: absolute
		right: 0
		top: 0
		width: 100%
	}
	.authBox-2QvEa2:before{
		background: url(/assets/4f004ac9be168ac6ee18fc442a52ab53.svg) no-repeat
		content: ""
		height: 36px
		position: absolute
		top: 20px
		width: 112px
	}
}
.title-2HZHwz{
	font-size: 26px
	line-height: 32px
}
.subTitle-7NrkrO{
	color: #72767d
	font-size: 18px
	line-height: 22px
}
.subTitle-7NrkrO strong{
	color: hsla(216,4%,74%,.9)
	font-weight: 600
}
.subText-1z_Err{
	color: #72767d
}
.verified-2VA1rz{
	-ms-flex-align: center
	-ms-flex-negative: 0
	-ms-flex-pack: center
	-webkit-box-align: center
	-webkit-box-pack: center
	align-items: center
	display: -webkit-inline-box
	display: -ms-inline-flexbox
	display: inline-flex
	flex-shrink: 0
	justify-content: center
	margin-right: 8px
	margin-top: 0
}
.pill-3_TSD0{
	background-color: rgba(32,34,37,.3)
	border-radius: 100px
	display: block
	padding: 5px 16px 4px
}
.pillOnline-1WKW0m{
	margin-right: 8px
}
.pillMessage-1_EHyL{
	color: #b9bbbe
	font-size: 16px
	white-space: nowrap
}
.pillIcon-329NCD{
	border-radius: 50%
	display: inline-block
	height: 10px
	margin-right: 4px
	width: 10px
}
.pillIconTotal-1YxB-p{
	background-color: #72767d
}
.pillIconOnline-2UAWXr{
	background-color: #43b581
}
.spinnerVideo-nuh7dF{
	height: 200px
	width: 200px
}
.spinnerText-3L3Xsg{
	color: #fff
	font-size: 16px
	font-style: italic
}
.image-22O3Hq{
	height: auto
	max-height: 120px
	max-width: 186px
	width: 100%
}
.block-1XHcPk{
	text-align: left
	width: 100%
}
.button-1BpQOM{
	font-size: 16px
}
.linkButton-37cyg8{
	display: block
	padding-left: 0
	padding-right: 0
}
.inviteIcon-3p_w2J{
	-ms-flex-align: center
	-ms-flex-pack: center
	-webkit-box-align: center
	-webkit-box-pack: center
	align-items: center
	background-color: #7289da
	color: #fff
	display: -webkit-inline-box
	display: -ms-inline-flexbox
	display: inline-flex
	justify-content: center
}
.inviteLargeIcon-yNcbLF{
	background-repeat: no-repeat
	background-size: 100%
	margin-right: 0
}
.inviteSmallIcon-25CidJ{
	-ms-flex-negative: 0
	flex-shrink: 0
	margin-right: 8px
	margin-top: 0
}
.theme-dark .inputError-1CBDTV,.theme-dark .inputError-1CBDTV:focus,.theme-dark .inputError-1CBDTV:hover,.theme-light .inputError-1CBDTV,.theme-light .inputError-1CBDTV:focus,.theme-light .inputError-1CBDTV:hover{
	border-color: #f04747
}
.authFormInvite-3S0v7c .error-d156bt{
	color: #f04747
	font-size: 11px
}
.authFormInvite-3S0v7c.register-3nTqfs .inviteHeader-2eEV6B{
	margin-bottom: 12px
}
.authFormInvite-3S0v7c.register-3nTqfs .btn-primary{
	margin-top: 24px
}
.authFormInvite-3S0v7c .buttonAccept-2GlCrO{
	margin-top: 116px
}
.authFormInviteButton-1Hq9ai{
	margin-top: 70px
}
.textCenter-1t1XXw{
	text-align: center
}
.dataPoint-1D0nUI{
	background: #2f3136
	border-radius: 16px
	margin: 4px
	min-width: 30%
	padding: 6px 20px
}
.circle-2Y5k0r{
	border-radius: 50%
	height: 8px
	margin-right: 4px
	width: 8px
}
.circleOnline-23-iUM{
	background: #43b581
}
.circleRegistered-1PSJD9{
	background: #747f8d
}
.iconWrapper-3wx2P9{
	margin-bottom: 16px
	position: relative
}
.message-1b7-uk{
	text-align: center
}
.message-1b7-uk strong{
	font-weight: 600
}
.guildIcon-2X9dlJ{
	-ms-flex-align: center
	-ms-flex-pack: center
	-webkit-box-align: center
	-webkit-box-pack: center
	align-items: center
	background-color: #7289da
	bottom: -4px
	color: #f8f9fd
	display: -webkit-inline-box
	display: -ms-inline-flexbox
	display: inline-flex
	justify-content: center
	position: absolute
	right: -4px
}
.guildName-go8Bc9{
	padding: 0 8px
}
.data-MKDjNI{
	margin-left: 8px
	margin-right: 8px
}
.theme-dark .guildIcon-2X9dlJ{
	border: 4px solid #36393f
}
.theme-light .guildIcon-2X9dlJ{
	border: 4px solid #f6f6f7
}
.invite-3_hBSu{
	background-color: #36393f
	bottom: 0
	left: 0
	position: fixed
	right: 0
	top: 0
}
.logo-3ztVNP{
	background: url(/assets/02a8c6a7d718b8e215bf28e86c932176.svg) 50% no-repeat
	background-size: 155px 52px
	height: 52px
	opacity: .3
	width: 155px
}
.maxWidth-Asd7zG{
	max-width: 400px
}
.info-3lnHuR{
	overflow: auto
	padding: 0 20px
}
.header-2Uhyo8{
	margin: 12vh 16px 8px
}
.upsellImage-3H-8a6{
	margin: 12vh 16px 24px
}
.upsellDescription-YjNKM_{
	margin: 4px 24px 0
}
.centerText-27nd3H{
	text-align: center
}
.buttonTitle-1fzRl5{
	margin: 20px 20px 0
}
.elevated-orYzEr{
	-webkit-box-shadow: 0 2px 10px 0 rgba(4,4,5,.2),0 0 0 1px #202225
	box-shadow: 0 2px 10px 0 rgba(4,4,5,.2),0 0 0 1px #202225
}
.button-3Fg30u{
	margin: 12px 20px 16px
}
.buttonNew-3ZPmRX{
	margin: 12px auto 0
	width: 85%
}
.card-MuYppt{
	background: #202225
	border-color: #202225
	margin: 16px
}
.cardContents-LoZWzA{
	margin: 0 auto
}
.cardAccentLeft-2X_8Ln{
	left: 0
}
.cardAccentLeft-2X_8Ln,.cardAccentRight-2--K2V{
	bottom: 0
	opacity: .3
	position: absolute
}
.cardAccentRight-2--K2V{
	right: 0
}
.image-EhcQro{
	height: 100px
}
